<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="niponapo.server.dao.Mapper">

	<insert id="post_create" parameterType="niponapo.server.vo.PostVO">
		insert into post (user_pid,id,album_pid,have,want,how,photo,state,date)
		values (#{user_pid},#{id},#{album_pid},#{have},#{want},#{how},#{photo},#{state},#{date})
	</insert>
	
	<delete id="post_delete" parameterType="int">
		delete from post where post_pid = #{post_pid}
	</delete>
	
</mapper>