<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="niponapo.server.dao.Mapper">

	<insert id="post_create" parameterType="niponapo.server.vo.PostVO">
		insert into post (user_pid,id,album_pid,have,want,how,photo,state,date)
		values (#{user_pid},#{id},#{album_pid},#{have},#{want},#{how},#{photo},#{state},#{date})
	</insert>
	
	<delete id="post_delete" parameterType="int">
		delete from post where post_pid = #{post_pid}
	</delete>
	
	<update id="swap_request" parameterType="niponapo.server.dto.UserPostDTO">
		update post set accept_pid =#{user_pid}, state=2 where post_pid=#{post_pid}
	</update>
	
	<update id="swap_cancle" parameterType="int">
		update post set accept_pid=null, state=1 where post_pid=#{post_pid}
	</update>
	
	<update id="swap_accept" parameterType="int">
		update post set state=4 where post_pid=#{post_pid}
	</update>
	
	<select id="swap_list" parameterType="int" resultType="niponapo.server.dto.PostInfoDTO">
		select post_pid,id,how,date,state,photo
		from post
		where user_pid=#{user_pid} or accept_pid=#{user_pid}
	</select>
	
	<select id="album_info" parameterType="int" resultType="niponapo.server.dto.AlbumInfoDTO">
		select album_pid, album_name from album where idol_pid=#{idol_pid}
	</select>
	
	<select id="card_info" parameterType="int" resultType="niponapo.server.dto.CardInfoDTO">
		select card_pid, card_name from card where album_pid=#{album_pid}
	</select>
	
	<select id="post_info" parameterType="map" resultType="niponapo.server.dto.PostInfoDTO">
		select post_pid,id,how,date,state,photo
		from post 
		where album_pid=#{album_pid} and state=1 and (
		<foreach collection="how" item="item" separator="or">
			how like "%${item}%"
		</foreach>
		)
	</select>
	
	<select id="post_search" parameterType="niponapo.server.dto.SearchDTO" resultType="niponapo.server.dto.PostInfoDTO">
		select post_pid,id,how,date,state,photo
		from post
		where state=1 and album_pid=#{input.album_pid} and have=#{input.have} and want=#{input.want} and (
		<foreach collection="input.how" item="item" separator="or">
			how like "%${item}%"
		</foreach>
		)
	</select>
</mapper>